<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Js Routing</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand"></a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/service" class="nav-link">Service</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="landing-page">
        <div class="wrapper">
            <div class="">
                <h5 class="display-5">Welcome to express Bootstrap</h5>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero esse culpa distinctio pariatur alias nam non rerum maxime est quas dolores voluptate, accusantium ipsum nostrum, vitae delectus dolore provident? Asperiores atque eum quidem autem deleniti ea, porro id iste soluta?</p>
            </div>
        </div>
    </section>
</body>
</html>